* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

main {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.header-destra, .header-sinistra {
    padding: 5px 8px;
}

.fa-solid.fa-circle-dot, .fa-solid.fa-pause,
.fa-solid.fa-stop, .bottone-player > span {
    padding-left: 8px;
}

.bottone-scudo-verde, .bottone-player, .bottone-view {
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.contenitore-foto {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
    align-content: center;
}

.rettangolo-foto {
    width: calc(100% / 6 - 5px);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.foto-utente {
    background-image: url('https://as01.epimg.net/en/imagenes/2022/03/28/latest_news/1648480952_520886_1648481180_noticia_normal_recorte1.jpg');
    background-size: contain;
    min-height: 128px;
    min-width: 100px;
    background-repeat: no-repeat;
}

.nome-utente {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    background-color: #302e2b;
    padding: 5px;
    border-radius: 5px;
  }

  .mic-mutato::before {
    color: #d0402c;  
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 5px;
    content: '\f131';
  }