* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.header-destra, .header-sinistra {
    padding: 5px 8px;
}

.fa-solid.fa-circle-dot, .fa-solid.fa-pause,
.fa-solid.fa-stop, .bottone-player > span {
    padding-left: 8px;
}

.bottone-scudo-verde, .bottone-player, .bottone-view {
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}